html { background: transparent }

.porcentaje100{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.md-toast.error {
	background-color: red;
	z-index: 9000;
  position: fixed;
}

.md-toast.success {
	background-color: green;
	z-index: 9000;
  position: fixed;
}

.md-select-menu-container {
  z-index: 10000;
}



.md-autocomplete-suggestions{
z-index: 1000000 !important;
}

.md-autocomplete-suggestions-container{
 z-index: 1000000 !important; 
}


.activo{
	color: green;
}


.inactivo{
	color: red !important;
}

.centrado th,tr{
	text-align: center;
}


.centrado tr>td{
	vertical-align: middle;
}

.modal-wide-md{
  width: 50%;
overflow-y: auto;

}


.pagination>.active>a{
	background-color:#FB8C00 !important;
	border-color:#FB8C00 !important;
}

.pagination>li>a{
	color:black;
}

.pagination>li>a:hover{
	color:black;
	border-color:#FB8C00;
}



.divider {
  height: 5px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #3f51b5;
}

.piz{
width:inherit;

}


legend{
     font-size: 1.2em !important;
        font-weight: bold !important;
        color: #3F51B5;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;

}

fieldset { 
   border-style: solid;
    border-width: 1px;
    border-color:lightgray;
    
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13k0u0k++tvP4++++IsYqmYSQdr */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #00838F } /* Main Primary color */
.color-primary-1 { color: #B02E31 }
.color-primary-2 { color: #00B4C5 }
.color-primary-3 { color: #00666F }
.color-primary-4 { color: #003C41 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(  0,131,143,1) }  /* Main Primary color */
.rgba-primary-1 { color: rgba(  176,46,49,1) }
.rgba-primary-2 { color: rgba(  0,180,197,1) }
.rgba-primary-3 { color: rgba(  0,102,111,1) }
.rgba-primary-4 { color: rgba(  0, 60, 65,1) }



#footer {
  width: 100%;
  height: 80px;
  background: #333;
  border-top: 2px solid #000;
  position: absolute;
  bottom: 0;
}
.marca{
background-color: #FFFFFF;
  background-image: url(../img/Imagen1.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  opacity: 0.4;
  filter:alpha(opacity=40);  
    width:100%;
    height:100%;     
    position: absolute;
}
.quitar_marca{
  background-image:"";
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
    width:100%;
    height:100%;     
    position: absolute;
}

.fot{
  position:absolute; 
  bottom: 0px; 
  text-align: center; 
  background:rgb(2,119,189);
  width: 100%; 
  height: 4%; 
  vertical-align: middle;
  position: fixed;

}

/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */

